{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div> --}}


  
  <div class="row">
    <div class="description col s12">ADD PIC HERE</div>
      <div class="name col s12">{{name}}</div>  
      <div class="bio col s12">This is my bio</div>  
    </div>

<div>
  <button id="postBtn">Button</button>
</div>
   
  {{!-- grid  --}}

  <div class="grid-row row">
      <div class="col s4">
        {{#each images as |image|}}
          <div class="row mb-2">
          <img src="{{image.link}}"></img>
          </div>
       {{/each}}
      </div>
      <div class="col s4">
        <h1>test</h1>
      </div>
      <div class="col s4">
        <h1>test</h1>
    </div>

    <div class="grid-row row">
        <div class="col s4">
          <h1>test</h1>
        </div>
        <div class="col s4">
          <h1>test</h1>
        </div>
        <div class="col s4">
          <h1>test</h1>
      </div>
    </div>
    <div class="grid-row row">
        <div class="col s4">
          <h1>test</h1>
        </div>
        <div class="col s4">
          <h1>test</h1>
        </div>
        <div class="col s4">
          <h1>test</h1>
      </div>
    </div>

   
  </div>

    {{!-- {{#each images as |image|}}
    <div class="row mb-2">
     <img src="{{image.link}}"></img>
    </div>
    {{/each}} --}}

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>


 



    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
<script src="./imgur/api.js"></script>
